<h1>Write something on the flipdots:</h1>
<form action="{{ url_for('text') }}" method="post">
    <input type="text" id="name" name="name">
    <input type="submit" value="Write to flipdots">
</form>
